---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
    const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));

    // Normalizace tagů – každý post bude mít pole tagů
    const normalizedPosts = allPosts.map((post: any) => {
        const tags = Array.isArray(post.frontmatter.tags) && post.frontmatter.tags.length > 0
            ? post.frontmatter.tags
            : ['others'];
            return { ...post, frontmatter: { ...post.frontmatter, tags } };
    });

    // Získání unikátních tagů
    const uniqueTags = [...new Set(normalizedPosts.flatMap((post) => post.frontmatter.tags))];

    return uniqueTags.map((tag) => {
        const filteredPosts = normalizedPosts.filter((post) =>
            post.frontmatter.tags.includes(tag)
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
    <p>Posts tagged with {tag}</p>
        <ul>
            {posts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
        </ul>
</BaseLayout>