---
import Header from '../components/Header.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import '../styles/main.css';
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="cs" data-bs-theme="light">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/favicon.ico" sizes="32x32">
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <title>{pageTitle}</title>
    </head>

    <body class="d-flex flex-column min-vh-100">
        <Header />

        <main class="flex-grow-1">
            <div class="container p-5">
                <!--<h1>{pageTitle}</h1>-->
                <slot />
            </div>
        </main>

        <Contact />
        <Footer />
        <!-- Latest compiled JavaScript -->
        <script src={bootstrap}></script>
    </body>

</html>